[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User=leechmission
Type=notify
ExecStart=/usr/bin/leechmission-daemon -f --log-error

[Install]
WantedBy=multi-user.target
